# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

# When configure fails, SCons outputs these
config.log
.sconf_temp

# ignore all build (compiled) files but keep the folder itself
build/*

# ignore all createt solutions and the visualization but do not ignore the folder itself
solutions/*