# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

# When configure fails, SCons outputs these
config.log
.sconf_temp

# ignore all build (compiled) files
build/*

# ignore all createt solutions and the visualization
solutions/*

# ignore the build of shpinx
sphinx/build

# ignore the build of doxygen
docs/html
docs/latex